.header {
  /* background-color: var(--fantasy); */
  margin-top: 15px;
  margin-bottom: 10px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none !important;
  /* color: var(--pickled-bluewood); */
  opacity: 0.7;
  font-size: 20px;
  font-weight: 500;
  color:#2B3D4F;
  text-transform: capitalize;
  [data-mantine-color-scheme] &[data-active] {
    font-weight: 600;
    color: var(--pickled-bluewood);
  }
}

.menuLink {
  font-size: 20px;
  font-weight: 500;
}

.heading {
  color: var(--pickled-bluewood);
  font-size: 33px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.9;
  line-height: 0.9;
  /* font-family: prociono; */
}
.headerBtnStyle {
  color: var(--tall-poppy);
  border-color: var(--tall-poppy);
  border-radius: 16px;
  font-size: 18px;
  font-weight: 400;
  height: 3.5rem;
  width: 7rem;
}

.languageSection {
  border: 1px solid grey;
  padding: 7px;
  border-radius: 10px;
  z-index: 99;
}

.toggleThemeButton {
  border: none;
  z-index: 99;
}

.burgerColor{
filter:invert(1);
}